<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="/img/university-logo.png"
        alt="University Library"
        class="university-logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><%= t('navbar.home') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books"><%= t('navbar.books') %></a>
        </li>
        <li class="nav-item" id="loginNavItem">
          <a class="nav-link" href="/login"><%= t('navbar.login') %></a>
        </li>
        <li class="nav-item" id="registerNavItem">
          <a class="nav-link" href="/register"><%= t('navbar.register') %></a>
        </li>
        <li class="nav-item d-none" id="dashboardNavItem">
          <a class="nav-link" href="/dashboard"><%= t('navbar.dashboard') %></a>
        </li>
        <li class="nav-item d-none" id="logoutNavItem">
          <a class="nav-link" href="#" id="logoutBtn"><%= t('navbar.logout') %></a>
        </li>

        <!-- Language Switcher -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="languageDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= t('navbar.language') %>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end language-switcher"
            aria-labelledby="languageDropdown"
          >
            <li>
              <button class="dropdown-item" data-lang="en">
                <span class="flag-icon">🇺🇸</span>
                <span><%= t('languages.english') %></span>
              </button>
            </li>
            <li>
              <button class="dropdown-item" data-lang="ar">
                <span class="flag-icon">🇸🇦</span>
                <span><%= t('languages.arabic') %></span>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
